# GEMINI_API_KEY: Optional for Gemini AI / automated tributes
GEMINI_API_KEY=""

# URL base de la landing
VITE_APP_URL="http://localhost:5173"

# URL de acceso al sistema CRM / Gestión
VITE_CRM_URL="http://localhost:3000"
